body { 
    background-color: rgb(134, 123, 102);
}

h1 {
    font-size: 30px;
    text-align: center;
}

.p1 {
    text-align: left;
    color:rgb(255, 11, 239);
    font-size: 20px;
}

.p2 {
    text-align: center;
    color:rgb(126, 28, 119)
    font-size: 20px;
}
